CapaUI/Connected Services/ServiceProveedor/WebServiceProveedor.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ServicioinsertarProveedor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="proveedor" type="tns:Proveedor" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Proveedor">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Idproveedor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre_prov" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Numero_prov" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CorreoProv" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ServicioinsertarProveedorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ServicioinsertarProveedorResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServiciobuscaProv">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="idproveedor" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServiciobuscaProvResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ServiciobuscaProvResult" type="tns:Proveedor" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServiciobuscaConcidencia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="idproveedor" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServiciobuscaConcidenciaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ServiciobuscaConcidenciaResult" type="tns:Proveedor" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServicioeliminarProv">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IDaborrar" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServicioeliminarProvResponse">
        <s:complexType />
      </s:element>
      <s:element name="ServcioactualizarProv">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="proveedor" type="tns:Proveedor" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServcioactualizarProvResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ServicioinsertarProveedorSoapIn">
    <wsdl:part name="parameters" element="tns:ServicioinsertarProveedor" />
  </wsdl:message>
  <wsdl:message name="ServicioinsertarProveedorSoapOut">
    <wsdl:part name="parameters" element="tns:ServicioinsertarProveedorResponse" />
  </wsdl:message>
  <wsdl:message name="ServiciobuscaProvSoapIn">
    <wsdl:part name="parameters" element="tns:ServiciobuscaProv" />
  </wsdl:message>
  <wsdl:message name="ServiciobuscaProvSoapOut">
    <wsdl:part name="parameters" element="tns:ServiciobuscaProvResponse" />
  </wsdl:message>
  <wsdl:message name="ServiciobuscaConcidenciaSoapIn">
    <wsdl:part name="parameters" element="tns:ServiciobuscaConcidencia" />
  </wsdl:message>
  <wsdl:message name="ServiciobuscaConcidenciaSoapOut">
    <wsdl:part name="parameters" element="tns:ServiciobuscaConcidenciaResponse" />
  </wsdl:message>
  <wsdl:message name="ServicioeliminarProvSoapIn">
    <wsdl:part name="parameters" element="tns:ServicioeliminarProv" />
  </wsdl:message>
  <wsdl:message name="ServicioeliminarProvSoapOut">
    <wsdl:part name="parameters" element="tns:ServicioeliminarProvResponse" />
  </wsdl:message>
  <wsdl:message name="ServcioactualizarProvSoapIn">
    <wsdl:part name="parameters" element="tns:ServcioactualizarProv" />
  </wsdl:message>
  <wsdl:message name="ServcioactualizarProvSoapOut">
    <wsdl:part name="parameters" element="tns:ServcioactualizarProvResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceProveedorSoap">
    <wsdl:operation name="ServicioinsertarProveedor">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodo que Inserta un nuevo proveedor </wsdl:documentation>
      <wsdl:input message="tns:ServicioinsertarProveedorSoapIn" />
      <wsdl:output message="tns:ServicioinsertarProveedorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ServiciobuscaProv">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodo que busca un proveedor por su id </wsdl:documentation>
      <wsdl:input message="tns:ServiciobuscaProvSoapIn" />
      <wsdl:output message="tns:ServiciobuscaProvSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ServiciobuscaConcidencia">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodo que busca un proveedor si hay coincidencias segun los productos por su id </wsdl:documentation>
      <wsdl:input message="tns:ServiciobuscaConcidenciaSoapIn" />
      <wsdl:output message="tns:ServiciobuscaConcidenciaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ServicioeliminarProv">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodo que elimina a un proveedor por su id </wsdl:documentation>
      <wsdl:input message="tns:ServicioeliminarProvSoapIn" />
      <wsdl:output message="tns:ServicioeliminarProvSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ServcioactualizarProv">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodo que actualiza o modifica a un proveedor por su id </wsdl:documentation>
      <wsdl:input message="tns:ServcioactualizarProvSoapIn" />
      <wsdl:output message="tns:ServcioactualizarProvSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceProveedorSoap" type="tns:WebServiceProveedorSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ServicioinsertarProveedor">
      <soap:operation soapAction="http://tempuri.org/ServicioinsertarProveedor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiciobuscaProv">
      <soap:operation soapAction="http://tempuri.org/ServiciobuscaProv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiciobuscaConcidencia">
      <soap:operation soapAction="http://tempuri.org/ServiciobuscaConcidencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServicioeliminarProv">
      <soap:operation soapAction="http://tempuri.org/ServicioeliminarProv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServcioactualizarProv">
      <soap:operation soapAction="http://tempuri.org/ServcioactualizarProv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceProveedorSoap12" type="tns:WebServiceProveedorSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ServicioinsertarProveedor">
      <soap12:operation soapAction="http://tempuri.org/ServicioinsertarProveedor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiciobuscaProv">
      <soap12:operation soapAction="http://tempuri.org/ServiciobuscaProv" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiciobuscaConcidencia">
      <soap12:operation soapAction="http://tempuri.org/ServiciobuscaConcidencia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServicioeliminarProv">
      <soap12:operation soapAction="http://tempuri.org/ServicioeliminarProv" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServcioactualizarProv">
      <soap12:operation soapAction="http://tempuri.org/ServcioactualizarProv" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceProveedor">
    <wsdl:port name="WebServiceProveedorSoap" binding="tns:WebServiceProveedorSoap">
      <soap:address location="https://localhost:44376/WebServiceProveedor.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceProveedorSoap12" binding="tns:WebServiceProveedorSoap12">
      <soap12:address location="https://localhost:44376/WebServiceProveedor.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>