CapaUI/Connected Services/ServiceUsuario/WebServiceUsuario.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ServicioInsertarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="tns:Usuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Usuario">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdUsuario" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="User" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Contraseña" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Correo" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ServicioInsertarUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ServicioInsertarUsuarioResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServicioBuscarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="idUsuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServicioBuscarUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ServicioBuscarUsuarioResult" type="tns:Usuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServicioEliminarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IDaborrar" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServicioEliminarUsuarioResponse">
        <s:complexType />
      </s:element>
      <s:element name="ServicioActualizarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="tns:Usuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServicioActualizarUsuarioResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ServicioInsertarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:ServicioInsertarUsuario" />
  </wsdl:message>
  <wsdl:message name="ServicioInsertarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:ServicioInsertarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ServicioBuscarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:ServicioBuscarUsuario" />
  </wsdl:message>
  <wsdl:message name="ServicioBuscarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:ServicioBuscarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ServicioEliminarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:ServicioEliminarUsuario" />
  </wsdl:message>
  <wsdl:message name="ServicioEliminarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:ServicioEliminarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ServicioActualizarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:ServicioActualizarUsuario" />
  </wsdl:message>
  <wsdl:message name="ServicioActualizarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:ServicioActualizarUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceUsuarioSoap">
    <wsdl:operation name="ServicioInsertarUsuario">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodo que Inserta un nuevo usuario </wsdl:documentation>
      <wsdl:input message="tns:ServicioInsertarUsuarioSoapIn" />
      <wsdl:output message="tns:ServicioInsertarUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ServicioBuscarUsuario">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodo que busca un usuario por su id </wsdl:documentation>
      <wsdl:input message="tns:ServicioBuscarUsuarioSoapIn" />
      <wsdl:output message="tns:ServicioBuscarUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ServicioEliminarUsuario">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodo que elimina a un usuario por su id </wsdl:documentation>
      <wsdl:input message="tns:ServicioEliminarUsuarioSoapIn" />
      <wsdl:output message="tns:ServicioEliminarUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ServicioActualizarUsuario">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodo que actualiza o modifica a un usuario por su id </wsdl:documentation>
      <wsdl:input message="tns:ServicioActualizarUsuarioSoapIn" />
      <wsdl:output message="tns:ServicioActualizarUsuarioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceUsuarioSoap" type="tns:WebServiceUsuarioSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ServicioInsertarUsuario">
      <soap:operation soapAction="http://tempuri.org/ServicioInsertarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServicioBuscarUsuario">
      <soap:operation soapAction="http://tempuri.org/ServicioBuscarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServicioEliminarUsuario">
      <soap:operation soapAction="http://tempuri.org/ServicioEliminarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServicioActualizarUsuario">
      <soap:operation soapAction="http://tempuri.org/ServicioActualizarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceUsuarioSoap12" type="tns:WebServiceUsuarioSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ServicioInsertarUsuario">
      <soap12:operation soapAction="http://tempuri.org/ServicioInsertarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServicioBuscarUsuario">
      <soap12:operation soapAction="http://tempuri.org/ServicioBuscarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServicioEliminarUsuario">
      <soap12:operation soapAction="http://tempuri.org/ServicioEliminarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServicioActualizarUsuario">
      <soap12:operation soapAction="http://tempuri.org/ServicioActualizarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceUsuario">
    <wsdl:port name="WebServiceUsuarioSoap" binding="tns:WebServiceUsuarioSoap">
      <soap:address location="https://localhost:44376/WebServiceUsuario.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceUsuarioSoap12" binding="tns:WebServiceUsuarioSoap12">
      <soap12:address location="https://localhost:44376/WebServiceUsuario.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>